################################################################################
# Prevents specific files and folders from being added to Git.
################################################################################
